@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url('img/background.jpg');
    background-size: cover;
}


#title {
    text-align: center;
    color: #DC0000;
    font-weight: bold;
    font-size: 4rem;
    font-family: "Oleo Script", cursive;
}

.container {
    display: grid;
    grid-template-columns: 6fr 6fr;
    align-items: center;
}

.game-container {
    display: grid;
    row-gap: 10em;
    justify-items: center;
}

.game-container button {
    padding: 1em 3em;
    background-color: none;
    font-family: "Oleo Script", cursive;
    font-size: 2rem;
    border-radius: 35%;
    background-color:#DC0000;
    color:goldenrod; 
}

.game-container button:hover {
    font-size: 2.5rem;
}

.cards-container {
    display: flex;
    gap: 2em;
}

.cards-container .card:hover {
    width: 5em;
}

.game-container .card {
    border: #DC0000 solid 0.3em;
    border-radius: 35%;
    color:#DC0000;
    padding: 0.5em 0.5em;
    padding-bottom: 0; 
    text-align: center;
    font-family: "Oleo Script", cursive;
    font-weight: bolder;
    font-size: 2rem;
}

.scores-container{
    display: grid;
    row-gap: 1em;
    justify-items: start;
    margin-left: 3em;
    font-family: "Oleo Script", cursive;
    font-size: 3rem;
    color: #DC0000;
}
